language = "bash"
run = ".pythonlibs/bin/python -m streamlit run src/app.py \
  --server.port=8080 \
  --server.address=0.0.0.0 \
  --server.enableCORS=false \
  --server.headless=true"

[[ports]]
localPort = 8080
externalPort = 80
