language = "bash"
run = ".pythonlibs/bin/python -m streamlit run src/app.py \
  --server.port=8501 \
  --server.address=0.0.0.0 \
  --browser.serverAddress=0.0.0.0 \
  --server.enableCORS=false \
  --server.enableXsrfProtection=false \
  --server.headless=true"

[[ports]]
localPort = 8501
externalPort = 80
